@font-face {
  font-family: paragraphfont;
  src: url(fonts/Biko.otf);
}

@font-face{
  font-family: headerfont;
  src: url(fonts/Retroica.ttf);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #bccc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ccc;
}




a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}
.center{
padding-left: 140px;
  margin-left: 70px;
}

#gallery img {
   width: 100%;
   height: auto;
   margin-bottom:5px;

}

#gallery {

   line-height:0;
   -webkit-column-count:5;
   -webkit-column-gap:5px;
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
   column-margin: 50px;

}


body {
  font-family: headerfont;
    height: 100%;
    margin: 0px;
    line-height: 30px;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
.contact {
    background-color: rgb(225,225,230);
    padding: 15px;
    margin: auto;
}

.contact-body {
  font-family: headerfont;
    max-width: 1600px;
    display: block;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.contact h2 {
  font-family: headerfont;
    font-size: 2em;
    max-width: 1600px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 20px;
}





.grid {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    max-width: 1600px;
}

.card {
    text-decoration: none;
    position: relative;
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    max-width: 30%;
}



.content {
    margin-left: 60px;
    margin-right: auto;
align-content: center;
}

.card-body a:hover {
    text-decoration: none;
}
.item img {
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 0px;
}

.card img {
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 0px;
    border-radius: 30px 30px 0px 0px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-transform: translateZ(0);
}
.card-body {
    background-color: white;
    height: auto;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: auto;
    border-radius: 0px 0px 30px 30px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-transform: translateZ(0);

}

body {
  background-image: url('background1.jpg');
  background-size: 100% 100%;}


#company {
  width: 100px;
  height: 100px;
  float:right;
  padding-right: 20px;
margin-top: 1px;
display: block;

}

ul {
  font-family: headerfont;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

li {
  float: left;
}

li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding: 50px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}
html {
  background: url(images/backgoundest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: auto;

}

.image {
  flex-basis: 40%
}

.text {
font-family: paragraphfont;
  font-size: 20px;
  padding-left: 20px;
}
.main {
     background-color: #9999;
     overflow: auto;
     width: 100%;
     height: 100%;
